html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,
td{margin:0;padding:0;border:0;outline:0;list-style:none;list-style-type:none;text-decoration:none;font-family:'Open Sans', sans-serif}
.temizlik{clear: both;}
a:hover{text-decoration: none;}
.padding{padding: 0px;}
.float{	float: left;}
.bosluq{height: 15px;}
.main{padding: 0px;}
				/*header basliq*/
.basliq{
	height: auto;
	background: #f2f2f2;
	overflow: hidden;
	color: gray;
	line-height: 35px;
}
.sec{
	background: url("../images/icons-sprite.png") no-repeat;
	background-position: 0px 10px;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: gray;
}
.num{
	background: url("../images/icons-sprite.png") no-repeat;
	background-position: 0px -17px;
    float: left;
    color: #f9c543;
    font-weight: bold;
    font-size: 17px;
    line-height: 36px;
    height: 36px;
    margin-left: -25px;
}
.sec p,.num p{
	padding-left: 5px;
}
.reg{
    margin-left: 25px;
	padding: 0px 0px 0px 37px;
	height: 36px;
	line-height: 36px;
}
.reg a{
	color: gray;
	background: #e6e6e6;
}
.reg a:hover{
	height: 36px;
	background: #f9c543;
	color: white;
	transition: all 0.6s ease;
	text-decoration: none;
}
				/*header basliq*/

				/*header logo*/
.logo{
	padding: 0px;
	height: 97px;
}
.logom{
	height: 96px;
	padding: 0px;
}
.logosekil{
	padding: 0px;
	height: 63px;
	float: left;
}
.logoaxtar{
	margin-top: 15px;
	float: left;
}
.logoaxtar input[type=text]{
	padding-left: 15px;
	float: left;
	margin-left: 15px;
	height: 40px;
	background: #f2f2f2;
	color: gray;
	border: none;
}
.logoaxtar button{
	margin-top: 10px;
	background: #f2f2f2;
	background: url("../images/search.png");
	float: left;
	width: 20px;
	height: 30px;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}
.srcbtn{
	background: #f2f2f2;
}
.sebet{
	margin-top: 15px;
	background: #f9c543;
	height: 40px;
	color: white;
}
.sebet:hover>.sebetic{
	display: block;
	transiyion: all 0.9s ease;
}
.icon{
	padding: 0px;
	position: relative;
	left: 10px;
	margin-top: 10px;
    height: 40px;
    float: left;
    background: url("../images/header-cart.png") 0% 0% no-repeat;
}
.msay{
	padding: 0px;
	height: 40px;
	line-height: 40px;
	color: white;
	background: #f9c543 url("../images/cart-arrow.png") no-repeat right center;
}
.sebetic{
	position: relative;
	top:-10px;
	background: #f9c543;
	display: none;
	height: 40px;
	line-height: 40px;
	z-index: 1;
}
				/*header logo*/

.nav{height: auto;}
.katg{
	height: 40px;
	background: gold;
	line-height: 40px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}
.menunav{
	height: 40px;
	background: #1ba5e2;
	display: block;
}
#main-menu li{
	display: inline-block;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;

}
#main-menu li a{
	color: white;
	line-height: 42px;
}
#main-menu li:hover{
	background: blue;
	transition: all 0.8s ease;
}

.sol{
	height: auto;
	overflow: visible !important;
	z-index: 1;
}


.orta{
	height: auto;
	padding: 0px;
	padding-bottom: 40px;
}


.slider{
	height: 300px;
	background:lightgray;
}

/* Sag Hisse - start*/
.sag{

	height: auto;
}
.endirim{
    background: #f1f1f1;
	height:40px;
	text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #666;
    line-height: 40px;
}

.right-slider{
    border: none;
    padding: 10px;
    height: 260px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.add{
	height:300px;
}
.flash{
	height: 155px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*.rslides .slider-mehsul{
	margin-left:60px;
}
.slider-mehsul p{
	padding-left:100px;
}*/
/*Sag Hisee - end*/


footer{
	clear: both;
	height: auto;
	padding:10px 0 0 0;
	border-top: 1px solid #e4e4e4;
	background: #f5f5f5;
}
.footer-ust h2{
    line-height: 20px;
    font-size: 18px;
    color: #595959;
    font-weight: bold;
	border-bottom: 1px solid #e4e4e4;
    margin: 0 0 15px;
}
.footer-ust span{
	border-bottom: 1px solid #595959;
}
.footer-newsletter form input{
	border: none;
	height: 32px;
}
.footer-newsletter input[type=submit]:hover{
	color: white;
	transition: all 0.6s ease;
}
.footer-newsletter p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	color: gray;
}
.footer-menu a{
	display: block;
	color: gray;
	transition: all 0.5s linear;
}
.footer-menu a:hover{
	text-decoration: none;
	color: black;	
	
}
.footer-elaqe a{color: gray;}
.footer-elaqe a:hover{text-decoration: none;}
.footer-ust{
	margin-top: 10px;
	height: auto;
	padding: 0px;
	border-bottom: 1px solid #e4e4e4;
}
.footer-alt{
	border-bottom: 1px solid #e4e4e4;
}
.tehlukesizlik h2{
	font-family: Arial,Helvetica,sans-serif;
    line-height: 80px;
    font-size: 14px;
    color: #595959;
    font-weight: bold;
}

		/*Following Icon*/
.following h2{
    line-height: 80px;
    font-size: 14px;
    color: #595959;
    font-weight: bold;
    padding-right: 10px;
    float: left;
}
.following{
    line-height: 90px;
}
.following a:hover{
	opacity: 0.8;
}
.footer-networks-fb {
	width: 23px;
	height: 23px;
	display: inline-block;
    background: url("../images/footer-networks.png") no-repeat;
    background-position: 0 0;
}
.footer-networks-tw{
	width: 23px;
	height: 23px;
	display: inline-block;
    background: url("../images/footer-networks.png")  0% -23px no-repeat;
    background-position: -25px 0
}
.footer-networks-yt {
    width: 23px;
    height: 23px;
	display: inline-block;
    background: url("../images/footer-networks.png") no-repeat -50px 0;
}
.footer-networks-inst {
    width: 23px;
    height: 23px;
	display: inline-block;
    background: url("../images/footer-networks.png") no-repeat -75px 0;
}
.footer-networks-gp {
    width: 23px;
    height: 23px;
	display: inline-block;
    background: url("../images/footer-networks.png") no-repeat -100px 0;
}
.footer-networks-pint {
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url("../images/footer-networks.png") no-repeat -125px 0;
}
		/*Following Icon*/
.muellif p{
	color: gray;
	font-size: 12px;
	line-height: 40px;
}




/* Mehsul sehifesi*/

.product-pic{
	height:390px;
}
#zoom_01{
	width:100% !important;
}
.qiymetlendirme{
	height: 35px;
	background: #f7f7f7;
	font-size: 10px;
    /*color: #9c9c9c;*/
    text-transform: uppercase;
   /* background: url(/skins/digitera/customer/images/no-rate-stars.png) no-repeat left 0;*/
    line-height: 35px;

}
.qiymetlendirme a{
	text-decoration: none;
	color:#9c9c9c;
	transition:all 0.5s ease-in-out;
}
.qiymetlendirme a:hover{
	color:black;
}
.star{
	height: 10px;
	width:10px;	
}
.star img{
	height: 15px;
	width: 15px;
}
.qiymet{
	
	box-shadow: 1px 1px 1px 1px #f6f6f6;
	height:200px;
	box-sizing:border-box;
	padding:0px;
}
.qiymet-esas{
	height:90%;
}
.qiymet-esas a{
	background: url("../images/arrow.png") no-repeat left center;
    padding: 0 0 0 10px;
    
    display: inline-block;
    color: #484848;
    box-sizing: border-box;
}
.qiymet-esas a:hover{
	text-decoration: underline;
}
.product-news{
	height:10%;
	background: #f6f6f6;
}
.chatdirilma{
	height:50px;
	background: #fbd67b url("../images/bus.png") no-repeat;
	color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 14px;
    float: left;
    padding: 10px 10px 10px 70px;
    height: 50px;
    box-sizing: border-box;
}
.zemanet{
	background: #e5ca88 url("../images/bus.png") no-repeat left bottom;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 14px;
    width: 49%;
    float: right;
    padding: 10px 10px 10px 60px;
    height: 50px;
    box-sizing: border-box;
}
.zemanet span{
	display: block;
}
.zemanet a{
	text-decoration: underline;
    color: #fff !important;
    font-size: 11px;
}
.zemanet a:hover{
	text-decoration: none;
}
.product-information{
	padding: 0px;
}
.teminat{
	background: url("../images/safe.png") no-repeat 10px 8px;
    height: 64px;
    line-height: 64px;
    border: 1px solid #f1f1f1;
    font-size: 16px;
    color: #666;
    padding: 0 10px 0 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.teminat-sayt{
    padding: 18px;
    font-size: 12px;
    color: #767676;
    text-align: justify;
    line-height: 16px;
    border: 1px solid #f1f1f1;
    border-top:0px;
}
.button-actions{
    display: block;
    height: 30px;
    font-size: 10px;
    line-height: 30px;     
    padding: 0 0 0 30px;
    color: #9c9c9c;
    text-transform: uppercase; 
    transition:all 0.4s ease-in-out;
    margin-top:10px;
}
.button-actions:hover{
	background-color:#fbd67b;
	cursor:pointer;
}
.sent-friend{
	position: relative;
	top: 10px;
	height:13px;
	display:block;
	background:url("../images/button-actions.png") no-repeat;
	background-position:0 0;
	-webkit-transition-property:background-position;
	-moz-transition-property:background-position;
	-o-transition-property:background-position;
	transition-property:background-position;
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
}
.sent-friend:hover{
	background:url("../images/button-actions.png") 100% 0 no-repeat;
	background-position:0 20%;
}

.add-wish{
	position: relative;
	top: 10px;
	height:13px;
	display:block;
	background:url("../images/button-actions.png") no-repeat;
	background-position:0 38%;
	-webkit-transition-property:background-position;
	-moz-transition-property:background-position;
	-o-transition-property:background-position;
	transition-property:background-position;
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
}
.add-wish:hover{
	background:url("../images/button-actions.png") 100% 0 no-repeat;
	background-position:0 59%;
}

.compare{
	position: relative;
	top: 10px;
	height:13px;
	display:block;
	background:url("../images/button-actions.png") no-repeat;
	background-position:0 80%;
	-webkit-transition-property:background-position;
	-moz-transition-property:background-position;
	-o-transition-property:background-position;
	transition-property:background-position;
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
}
.compare:hover{
	background:url("../images/button-actions.png") 100% 0 no-repeat;
	background-position:0 100%;
}
.price-dec{
	display: block;
}
.price-value{
	font-size: 32px;
    color: #f64c29;
    font-weight: normal;
    display: block;
}


/* Mehsul sehifesi*/


.suborta{
	height:600px;
}
.subsol{
	height: 600px;
	z-index: 1;
}
.firma{
	height: 600px;
}
.site-link a{
	color: gray;
	font-size: 12px;
}
.site-link span{
	color: gray;
}
.mehsul-say{
	float: right;
}
.mehsul-say p{
	font-size: 12px;
	color: gray;
	text-align: right;
}

.firma-adi h2{
	line-height: 50px;
	border-bottom: 1px solid gray;

}


#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
        line-height: 35px;
           font-family: Arial,Helvetica,sans-serif;
        font-size:14px;
        transition: all 0.6s ease;

}
#menuwrapper ul li{
    background-color:white;
    border:solid 1px #f2f2f2;
    font-size:14px;
    width:225px;
    cursor:pointer;
    height: 35px;
     margin:0;
    padding:0;
    transition: all 0.6s ease;

}
#menuwrapper ul li:hover{
    background-color:lightgray;
    position:relative;

}
#menuwrapper ul li a{
    padding:0px 15px;
    color:gray;
    display:inline-block;
    text-decoration:none;
}
/**** SECOND LEVEL MENU ****/
#menuwrapper ul li ul{
    position:absolute;
    display:none;
        transition: all 0.6s ease;

}
#menuwrapper ul li:hover ul{
    left:224px;
    top:0px;
    display:block;
        transition: all 0.6s ease;

}
#menuwrapper ul li ul{
	 margin:0;
    padding:0;
        transition: all 0.6s ease;
    
}

#menuwrapper ul li:hover ul li:hover{
    background-color:lightgray;
}
#menuwrapper ul li ul li a{
    color:#454444;
    display:inline-block;
    width:120px;
}
.clear{
    clear:both;
}


.parfum{
    background: url("../images/parfum.jpg") no-repeat;
}

.saat{
    background: url("../images/saat.jpg") no-repeat;
}

.komputer{
    background: url("../images/komputer.jpg") no-repeat;
}

.usaq_mebeli{
    background: url("../images/usaq_mebeli.jpg") no-repeat;
}

.kitab{
    background: url("../images/kitab.jpg") no-repeat;
}

.kateqoriya span{
    padding-left: 15px;
}
.kosmetika{

    background: url("../images/kosmetika.jpg") no-repeat;
}
.tv{
    background: url("../images/tv.jpg") no-repeat;
}
.aksesuar{
    background: url("../images/aksesuar.jpg") no-repeat;
}
.kamera{
    background: url("../images/kamera.jpg") no-repeat;
}
.video{


    background: url("../images/video_oyun.jpg") no-repeat;
}
.meiset{


    background: url("../images/meiset.jpg") no-repeat;
}
.ofis{


    background: url("../images/ofis.jpg") no-repeat;
}
.saglamliq{

     background: url("../images/saglamliq.jpg") no-repeat;
}





/*Orta*/


/*Container*/
.mehsul{
	background-color: white;
	height: 200px;
	box-sizing:border-box;
	border:solid 1px rgba(0,0,0,0.1);
	padding: 0px;
	
	
}

/*.mehsul:hover>span{
	
	border:none;
}	*/
.mehsul:hover{
	border:solid 1px rgba(0,0,0,0.4);
	cursor: pointer;
}
.mehsul:hover div.qirmizi{
	display: none;
}
.mehsul span{
	color: #e77963;
    font-weight: bold;
    font-size: 15px;
	
}
.mehsul a{
	text-decoration: none;
	font-size: 11px;
    font-weight: normal;
    
}

.qirmizi{
	border-top:1px solid red	;
}
.asagi{
	border-bottom: 1px solid red;
}
.malsiyahi h1{
	padding: 10px;
}

/*orta*/

.bosluqb{
	height: 30px;
}
.bosluqb h2{
	border-bottom: 1px solid gray;
}